<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="grid-container">

        <header>
            <h1><a href="/">Название сайта</a></h1>
            <div class="auth-block">
                <a href="/register"><button class="btn regBtn">Зарегистрироваться</button></a>
                <a href="/login"><button class="btn regBtn">Уже зарегестрированы? Войти</button></a>
                
            </div>
        </header>
        <nav class="hidden">
            <a href="{{url_for('mikrotik_page')}}"><button class="btn">Mikrotik</button></a>
            <a href="{{url_for('zabbix_page')}}"><button class="btn">Zabbix</button></a>
            <a href="{{url_for('dent_page')}}"><button class="btn">Dent</button></a>
            <a href="{{url_for('ct_page')}}"><button class="btn">КТ</button></a>
            <a href="{{url_for('xray_page')}}"><button class="btn">Рентген</button></a>
            <a href="{{url_for('etc_page')}}"><button class="btn">Прочее</button></a>
        </nav>
        <main>
            <h2 class="regFail">{{ msg }}</h2>
            <form method="post" action="/login">
                <div class="authorization-block">

                    <h1 title="Авторизация">Войти</h1>
                    <div class="group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" name="username" id="username">
                    </div>
        
                    <div class="group">
                        <label for="password">Пароль</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="group">
                        <center><button type="submit" class="regBtn">Войти</button></center>
                    </div>
                </div>

            </form>
        </main>
        <aside class="hidden"><h2>Sidebar</h2></aside>
        <footer><h2>&copy; w1z4rdDwp</h2></footer>
    </div>

</body>
</html>